.App {
  display: flex;
  flex-direction: column;
}

.container {
  width: 98.8%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-left: auto;
}

h1 {
  font-size: 25px;
  padding: 0 10px;
  color: teal;
}

hr {
  border: 2px solid lightblue;
  width: 98.8%;
}

form {
  width: 600px;
  height: 350px;

  box-shadow: 0px 0px 5px gray;
  padding: 20px 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.user-tip {
  height: 50px;
  width: 95%;
  padding: 10px 10px;
  margin-bottom: 40px;
  border-left: 7px solid teal;
  background-color: rgb(239, 247, 247);
}

label {
  margin-bottom: 20px;
}

input {
  @extend label;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}
