/* Sass variables declared here: */

$color-dark: #212529;
$color-blue: rgb(0, 65, 130);
$color-teal: teal;
$padding-10: 10px;
$padding-20: $padding-10 * 2;
$padding-40: $padding-20 * 2;
$selected-display: flex;
$row: row;
$column: column;
$mb-20: 20px;
$mb-40: $mb-20 * 2;
$fw-600: 600;
$rounded-box: 5px;
$input-border: 1px solid rgb(221, 221, 221);

/* Main and start page styles*/
.App {
  display: flex;
  flex-direction: column;
}

.container {
  width: 98.8%;
  padding: $padding-10 $padding-10;
  display: flex;
  flex-direction: $column;
  justify-content: center;
  bottom: 0;
  margin-left: auto;
  color: $color-blue;
}

h1 {
  font-size: 25px;
  padding: 0 $padding-10;
  color: $color-blue;
  margin-left: 6px;
}

h2 {
  margin-left: 6px;
  font-size: 20px;
}

hr {
  border: 2px solid rgb(236, 238, 238);
  width: 98.8%;
}

form {
  width: 600px;
  height: 350px;
  border-radius: $rounded-box;
  box-shadow: 0px 0px 20px gray;
  padding: $padding-20 $padding-20;
}

.form-group {
  display: $selected-display;
  flex-direction: $column;
}

.user-tip {
  height: 50px;
  width: 95%;
  padding: $padding-10 $padding-10;
  margin-bottom: $mb-40;
  border-left: 7px solid $color-teal;
  background-color: rgb(239, 247, 247);
}

label {
  margin-bottom: $mb-20;
  font-weight: $fw-600;
}

.apiToken {
  @extend label;
  padding: 10px;
  border: $input-border;
  border-radius: $rounded-box;
}

.primary-btn {
  @extend label;
  width: 25%;
  padding: $padding-10;
  background-color: $color-teal;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
}

button:hover {
  cursor: pointer;
}

.transparent-btn {
  @extend .primary-btn;
  background-color: white;
  color: $color-blue;
  border: 1px solid whitesmoke;
}

.read-docs {
  text-decoration: none;
  color: $color-blue;
}

.read-docs:hover {
  text-decoration-line: underline;
}

/* Content styles*/
.content-display {
  width: 81vw;
  overflow: auto;
  padding: $padding-20 $padding-20;
  margin-top: $mb-20;
}

.content-display > .display-items {
  width: 230%;
  padding: $padding-10 0;
}

/* Table styles */

tr {
  margin-bottom: $mb-20;
  border: 1px solid rgb(236, 238, 238);
}

.table-filter {
  background-color: $color-teal;
  color: white;
}

.filter-input {
  padding: 5px;
  margin: 4px 4px 4px 4px;
  border-radius: $rounded-box;
  border: 1px solid transparent;
  width: fit-content;
}

.pagination-display {
  display: $selected-display;
  flex-direction: $row;
  width: 30%;
  // margin-top: 40px;
  background-color: yellow;
}

.pagination-count {
  width: 50%;
  display: $selected-display;
  justify-content: space-evenly;
}

.pagination-count > span > input {
  border: 1px solid;
}

.pagination-count > .pagination-expand {
  width: 100px;
  background-color: green;
}

/* Miscellaneous styles */
